{% extends "layout.html" %}
{% block content %}
<h1>Edit event</h1>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label>Subject</label>
    <input class="form-control" name="ev-subject" type="text" value="{{ event.subject }}">
  </div>
  <div class="form-group">
    <label>Attendees</label>
    <input class="form-control" name="ev-attendees" type="text"
      placeholder="Separate multiple email addresses with a semicolon (';')"
      value="{{ context.event.attendees_list }}">
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label>Start</label>
        <input class="form-control" name="ev-start" type="datetime-local"
         value="{{ event.start.dateTime }}">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>End</label>
        <input class="form-control" name="ev-end" type="datetime-local"
        value="{{ event.end.dateTime }}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" name="ev-location" type="text"
      placeholder="Insert full address"  value="{{ event.location.displayName }}">
  </div>
  <div class="form-group mb-3">
    <label>Body</label>
    <textarea class="form-control" name="ev-body" rows="3" >{{ event.str_body }}</textarea>
  </div>
  <input class="btn btn-primary mr-2" type="submit" value="Save" />
  <a class="btn btn-secondary" href="/calendar">Cancel</a>
  <input type="hidden" id="ti-start" name="ti-start" value="{{ ti_start }}">
  <input type="hidden" id="ti-end" name="ti-end" value="{{ ti_end }}">
</form>
{% endblock %}
